{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "layout.html.twig" %}
{% trans_default_domain 'message' %}

{% block title %}
  {{  "lg.creation_compte"|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
	
  {{ include("user/formCompte.html.twig") }}

  <p>
    Vous pouvez créer un compte utilisateur.
  </p>

  <p>
    <a href="{{ path('home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}